{% extends 'base.html.twig' %}


{% block body %}

	<section class="articles">
		{% if is_granted('ROLE_ADMIN') %}

			<a href="{{ path('article_create') }}" class="btn btn-primary">Ecrire un article</a>

		{% endif %}


	</section>

	<div id="pagination">
		<ul class="pagination">
			<li class="page-item">
				<a id="firstpage" class="page-link" href="#">Première page</a>
			</li>

			<li class="page-item">
				<a id="prevpage" class="page-link" href="#">&laquo;</a>
			</li>


			<li class="page-item">
				<a id="nextpage" class="page-link" href="#">&raquo;</a>

			</li>
			<li class="page-item">
				<a id="lastpage" class="page-link" href="#">Dernière page</a>

			</li>

		</ul>
	</div>

	<div id="res-result" data-res="{{ articlecount }}" style="display: none;">


	{% endblock %}

	{% block javascripts %}
		<script src="{{ asset('js/articles.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


	{% endblock %}
